dotenv .env
dotenv_if_exists .env.local

if [ ! -d "$PROCESSING_TOOLS_DIR" ]; then
  echo "PROCESSING_TOOLS_DIR: '$PROCESSING_TOOLS_DIR' does not exist."
  exit 1
fi

rm -f "$PROCESSING_TOOLS_DIR/Seekprog"
ln -s "$PWD/tooldist" "$PROCESSING_TOOLS_DIR/Seekprog"
